@font-face {
	font-family: 'knockout';
	src: url('fonts/Knockout-HTF28-JuniorFeatherwt.otf'); /* IE9 Compat Modes */
	src: url('fonts/Knockout-HTF28-JuniorFeatherwt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.woff') format('woff'), /* Modern Browsers */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.svg#knockout') format('svg'); /* Legacy iOS */
	}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#chart {
  display: block;
  margin: -50px 0px 0px 0px;
  float: left;
  cursor: pointer;
}

.avatar{
	position: relative;
}

.binary{
	color: #7BB1D7;
	display: none;
	padding-top: 25px;
	text-align: right;
}

.circular{
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../img/image1.jpg') no-repeat;
}

.circularGray{
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../img/image2.jpg') no-repeat;
	position: absolute;
	top: 0px;
}

.number{
	float: left;
	font-size: 100px;
	font-weight: bold;
	height: 100px;
	line-height: 80px;
	padding-top: 15px;
	text-align: center;
}

.numberTitle{
	display: table-cell;
	font-size: 50px;
	font-weight: bold;
	line-height: 80%;
	height: 100px;	
	vertical-align: middle;
}

.ntWrapper{
	height: 100px;	
	display: table;
	display: none;
}

.pieContent{
	background-color: #ECECEC;
	height: 250px;
	padding: 15px;
	font-size: 20px;	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.servicesContent{
	height: 150px;
	font-size: 20px;
	margin-bottom: 200px;
	line-height: 120%;	
}

.small{
	width: 170px;
	height: 170px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
}

.staff{
	font-size: 30px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.staffTitle{
	font-size: 200px;
	font-weight: normal;
	height: 200px;
	line-height: 100%;
	float: right;

}


#home
{
	background-image:url(../img/background-traffic.png);
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
	background-attachment:fixed;
}


#home h1
{
	margin:0 auto;
	font-size:46px;
	text-align:center;
	color:#FFF;
	background-color:#7a7a7a;
	height:70px;
	width: 450px;
	padding-top:20px;
	position:relative;
	top: 40%;
}

#menu{
	margin: auto;
	text-align: center;
	position:fixed;
	width: 100%;
	height:40px;
	background-color:rgba(0, 0, 0, 0.5);
	padding-top:20px;
	z-index:20;
}

#menu li{
	display:inline;
	padding: 10px 20px 10px 20px;
	border-right: 1px solid #FFF;
	height:40px;
}

#menu li:last-child{
	border: 0;
}

#menu a{
	display:inline-block;
	color:#FFF;
}

#menu a:hover{
	color:#CCC;
}

#menu a:active{
	color:#666;
}
#services
{
	background-image:url(../img/background-street.png);
	background-repeat:no-repeat;
	-webkit-background-size: 100% 150%;
  	-moz-background-size: 100% 150%;
  	-o-background-size: 100% 150%;
  	background-size: 100% 150%;
  	-webkit-background-origin:content-box; /* Safari */
	background-origin:content-box;

  	padding: 100px 0px 0px 0px;
}

#staff{
	background-color: #282828;
	color: white;
	font-family: 'knockout';
}

#staff .container{
	position: relative;
	top: -300px;
}

#triangle{
	margin-bottom: -3px;
}

#method{
	background-image:url(../img/background-car-lights.png);
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
}

#method-title{
	/*position:relative;
	top: -20px;
	opacity: 0.5;*/
	background-image:url(../img/background-window.png);
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
	padding: 362px 0 362px 0;
}

#method-title h1{
	font-size:38px;
	text-align:center;
	width: 750px;
	font-weight:normal;
	margin:auto;
}

#method-description{
	color:#FFF;
	background-image:url(../img/blue-box.png);
	background-repeat:no-repeat;
	background-position:top;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
	position:relative;
	height:1024px;
}

#method-description p{
	font-weight:normal;
}

#method-description h1{
	margin-left:-40px;
	
}