@font-face {
	font-family: 'knockout';
	src: url('fonts/Knockout-HTF28-JuniorFeatherwt.otf'); /* IE9 Compat Modes */
	src: url('fonts/Knockout-HTF28-JuniorFeatherwt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.woff') format('woff'), /* Modern Browsers */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.svg#knockout') format('svg'); /* Legacy iOS */
	}

@font-face {
	font-family: 'GothamMedium';
	src:url('fonts/GothamHTF_Medium.ttf') format('truetype');
	src:url('fonts/GothamHTF_Medium.otf')
}

@font-face {
	font-family: 'HelveticaNeueRegular';
	src:url('fonts/HelveticaNeue_Regular.ttf') format('truetype');
	src:url('fonts/HelveticaNeue_Regular.otf');
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src:url('fonts/HelveticaNeue_Bold.ttf') format('truetype');
	src:url('fonts/HelveticaNeue_Bold.otf');
}

@font-face {
	font-family: 'GothamBold';
	src:url('fonts/GothamHTF_Bold.ttf') format('truetype');
	src:url('fonts/GothamHTF_Bold.otf');
}

@font-face {
	font-family: 'GothamBook';
	src:url('fonts/GothamHTF_Book.ttf') format('truetype');
	src:url('fonts/GothamHTF_Book.otf');
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#chart {
  display: block;
  margin: -50px 0px 0px 0px;
  float: left;
  cursor: pointer;
  position: relative;
}

.avatar{
	position: relative;
}

.binary{
	color: #7BB1D7;
	display: none;
	padding-top: 25px;
	text-align: right;
}

.circular{
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../img/image1.jpg') no-repeat;
}

.circularGray{
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../img/image2.jpg') no-repeat;
	position: absolute;
	top: 0px;
}

.number{
	float: left;
	font-size: 100px;
	font-weight: bold;
	height: 100px;
	line-height: 80px;
	padding-top: 15px;
	text-align: center;
}

.numberTitle{
	display: table-cell;
	font-size: 50px;
	font-weight: bold;
	line-height: 80%;
	height: 100px;	
	vertical-align: middle;
}

.ntWrapper{
	height: 100px;	
	display: table;
	display: none;
}

.pieContent{
	background-color: rgba(236, 236, 236, 0.5);
	height: auto;
	padding: 15px;
	font-size: 20px;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.servicesContent{
	height: auto;
	font-size: 11pt;
	margin-bottom: 200px;
	line-height: 120%;	
}

.small{
	width: 170px;
	height: 170px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
}

.staff{
	font-size: 30px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.staffTitle{
	font-size: 200px;
	font-weight: normal;
	height: 200px;
	line-height: 100%;
	float: right;

}


#home
{
	background-image:url(../img/background-traffic.jpg);
	min-height:650px;;
}

.slide{
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    min-height: 620px;
    position: relative;
    width: 100%;
}

.wrapper{
	height: 200px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.wrapper_text {
    height: 620px;
	margin: 0 auto;
    width: 960px;
}


#home h1
{
	background-color: #7A7A7A;
    color: #FFFFFF;
    font-family: 'GothamMedium',sans-serif,arial;
    font-size: 25pt;
    margin: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    top: 45%;
    width: 370px;
}

#menu{
	margin: auto;
	text-align: center;
	position:fixed;
	width: 100%;
	height:40px;
	padding-top:5%;
	z-index:20;
}

#menu li{
	display:inline;
	padding: 20px 20px 20px 20px;
	border-right: 1px solid #7d7d7d;
	height:40px;
}

#menu li:last-child{
	border: 0;
}

#menu a{
	display:inline-block;
	color:#7d7d7d;
	font-family: 'HelveticaNeueRegular',sans-serif,arial;
	font-size:1.2em;
	text-decoration:none;
}

#menu a:hover{
	color:#373737;
}

#menu a:active{
	color:#373737;
	
}
#work
{
	background-image:url(../img/background-street.jpg);
	font-family:'GothamMedium',sans-serif,arial;
}

#work h1
{
	padding-top:110px;
	/*margin-left:-70px;*/
	font-size:25pt;
}

#team{
	background-color: #282828;
	color: white;
	font-family: 'knockout';
	margin-top: -2px;
}

#team .container{
	position: relative;
	top: -300px;
}

#triangle{
	margin-bottom: -5px;
}

#tagline{
	background-image:url(../img/background-window.jpg);
}

#tagline h1{
	margin: 0 auto;
	font-size:20pt;
	text-align:left;
	width: 470px;
	color:#373737;
	font-weight:normal;
	position:relative;
	font-family:'GothamMedium',sans-serif,arial;
	line-height: 105%;
	top: 45%;
}

#tagline h1 strong{
	font-family:'GothamBold',sans-serif,arial;
}

#services{
	margin-top:-30px;
	background-image:url(../img/background-car-lights.jpg);
	background-position:center bottom;
	font-family:'HelveticaNeueRegular',sans-serif,arial;
	height: 1024px;
	color: rgba(255, 255, 255, 1);
}

#services .container{
	background-color: rgba(102,153,204, 0.4);
	color:#FFF;
	height:924px;
	width:100%;
}

#services h1{
	padding-top:110px;
	font-size:25pt;
	text-align: center;
	position:relative;
}

.method{
	text-align:right;
	left:-15%;
	position:relative;
	top: 15%;
}

.method a{
	color:rgb(255,255,255);
	text-decoration:none;
}

.method a.notActive{
	color:rgba(255,255,255,0.8);
}

.method h2{
	display: inline;
    font-family: 'GothamMedium',sans-serif,arial;
    font-size: 15pt;
    width: auto;
}

.method p{
	color: rgba(255, 255, 255, 1);
	font-size:10pt;
	width:600px;
}

.service{
	left: 25%;
	position: relative;
	top: 15%;
}

.service a{
	color:rgb(255,255,255);
	text-decoration:none;
}


.service a.notActive{
	color:rgba(255,255,255,0.8);
}

.service h2{
	display: inline;
    font-family: 'GothamMedium',sans-serif,arial;
    font-size: 15pt;
    width: auto;
}

.service p{
	color: rgba(255, 255, 255, 1);
	font-size:10pt;
	width:600px;
}

.serviceTitle{
    color: #FFFFFF;
    font-family: 'GothamMedium',sans-serif,arial;
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: 30%;
}

.serviceTitle a{
	color:rgb(255,255,255);
}

.workContentTitle{
	border-bottom:2px solid #069;
	padding-bottom:5px;
	font-family: 'GothamBook',sans-serif,arial;
	color:#666;
}

.workContentParagraph{
	font-family: 'GothamBook',sans-serif,arial;
	font-size:10pt;
	color:#666;
	padding-bottom:20px;
}

.workImagePreview{
	width:170px;
	height:160px;
	background-color:#CCC;
}

