@font-face {
	font-family: 'knockout';
	src: url('fonts/Knockout-HTF28-JuniorFeatherwt.otf'); /* IE9 Compat Modes */
	src: url('fonts/Knockout-HTF28-JuniorFeatherwt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.woff') format('woff'), /* Modern Browsers */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/Knockout-HTF28-JuniorFeatherwt.svg#knockout') format('svg'); /* Legacy iOS */
	}
	
@font-face {
    font-family: 'GothamMedium';
    src: url('fonts/gothamhtf_medium-webfont.eot');
    src: url('fonts/gothamhtf_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothamhtf_medium-webfont.woff') format('woff'),
         url('fonts/gothamhtf_medium-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf_medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/gothamhtf_bold-webfont.eot');
    src: url('fonts/gothamhtf_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sgothamhtf_bold-webfont.woff') format('woff'),
         url('fonts/gothamhtf_bold-webfont.ttf') format('truetype'),
         url('fonts/gothamhtf_bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('fonts/helveticaneue_regular-webfont.eot');
    src: url('fonts/helveticaneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue_regular-webfont.woff') format('woff'),
         url('fonts/helveticaneue_regular-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue_regular-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaBold';
    src: url('fonts/helveticabold-webfont.eot');
    src: url('fonts/helveticabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticabold-webfont.woff') format('woff'),
         url('fonts/helveticabold-webfont.ttf') format('truetype'),
         url('fonts/helveticabold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('fonts/helveticanormal-webfont.eot');
    src: url('fonts/helveticanormal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticanormal-webfont.woff') format('woff'),
         url('fonts/helveticanormal-webfont.ttf') format('truetype'),
         url('fonts/helveticanormal-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'GothamBook';
	src:url('fonts/GothamHTF_Book.ttf') format('truetype');
	src:url('fonts/GothamHTF_Book.otf');
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src:url('fonts/HelveticaNeue_Bold.ttf') format('truetype');
	src:url('fonts/HelveticaNeue_Bold.otf');
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#chart {
  display: block;
  margin: -50px 0px 0px 0px;
  float: left;
  cursor: pointer;
  position: relative;
}

.avatar{
	position: relative;
}

.binary{
	color: #7BB1D7;
	display: none;
	padding-top: 25px;
	text-align: right;
}

.circular{
	width: 220px;
	height: 220px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../img/image1.jpg') no-repeat;
}

.circularGray{
	width: 220px;
	height: 220px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url('../img/image2.jpg') no-repeat;
	position: absolute;
	top: 0px;
}

.number{
	float: left;
	font-size: 100px;
	font-weight: bold;
	height: 100px;
	line-height: 80px;
	padding-top: 15px;
	text-align: center;
}

.numberTitle{
	display: table-cell;
	font-size: 50px;
	font-weight: bold;
	line-height: 80%;
	height: 100px;	
	vertical-align: middle;
}

.ntWrapper{
	height: 100px;	
	display: table;
	display: none;
}

.pieContent{
	background-color: rgba(236, 236, 236, 0.5);
	height: auto;
	padding: 15px;
	font-size: 20px;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.servicesContent{
	height: auto;
	font-size: 11pt;
	margin-bottom: 200px;
	line-height: 120%;	
}

.small{
	width: 150px;
	height: 150px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
}

.staff{
	font-size: 30px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.staffTitle{
	font-size: 200px;
	font-weight: normal;
	height: 200px;
	line-height: 100%;
	float: right;

}

#blog{
	left:1600px;
	position:absolute;
	float:right;
	padding-top:200px;
}


#home
{
	background-image:url(../img/background-traffic.jpg);
	min-height:650px;;
}

.slide{
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    min-height: 620px;
    position: relative;
    width: 100%;
}

.wrapper{
	height: 200px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.wrapper_text {
    height: 620px;
	margin: 0 auto;
    width: 960px;
}


#home h1
{
	background-color: #7A7A7A;
    color: #FFFFFF;
    font-family: 'GothamMedium',sans-serif,arial;
    font-size: 25pt;
    margin: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    top: 45%;
    width: 370px;
}

#categories{
	list-style:none;
}

#categories li{
	padding: 10px 0px 10px 10px;
	border-bottom: 2px solid #999;
}
#categories li:last-child{
	border: 0;
}

#categories li:before{
	content:
}

.blogResume{
	height:auto;
	padding: 30px 0;
	border-bottom: 2px solid #999;
}

.blogResumeImage{
	margin-top: 10px;
	width:150px;
	height:150px;
	background-color: #999;
	margin-left: -25px;
}

.blogResumeTitle{
	margin: 0;
}

.blogResumeMetaData{
	margin-left: 0;
}

.blogResumeMetaData li{
	display: inline;
	padding: 0 5px;
	
}

.blogResumeMetaData li:first-child{
	padding-left: 0;
	
}

.blogResumeDescription{
	font-size:10pt;
	line-height: normal;
	width:450px;
}

.blogDetail{

}


.nuget-badge code {
    background-color: rgb(32, 32, 32);
    border: 4px solid silver;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 3px rgb(110, 110, 110);
    color: rgb(226, 226, 226);
    display: block;
    font: 1.5em/1.5em 'andale mono','lucida console',monospace;
    overflow: auto;
    padding: 15px;
}

.blogDetailImage{
	width:600px;
	height:300px;
	background-color: #666;
}

.blogDetailTitle{
	color:#999;
}

.blogDetailDescription{
	font-size:10pt;
	line-height: normal;
	width:600px;
}





#menu{
	margin: auto;
	text-align: center;
	position:fixed;
	width: 100%;
	height:40px;
	padding-top:5%;
	z-index:20;
}

#menu li{
	display:inline;
	padding: 20px 20px 20px 20px;
	border-right: 1px solid #7d7d7d;
	height:40px;
}

#menu li:last-child{
	border: 0;
}

#menu a{
	display:inline-block;
	color:#7d7d7d;
	font-family: 'HelveticaNeueRegular',sans-serif,arial;
	font-size:1.2em;
	text-decoration:none;
}

#menu a:hover{
	color:#373737;
}

#menu a:active{
	color:#373737;
	
}
#work
{
	background-image:url(../img/background-street.jpg);
	background-position:center center;
	font-family:'GothamMedium',sans-serif,arial;
}

#work h1
{
	padding-top:110px;
	/*margin-left:-70px;*/
	font-size:25pt;
}

#team{
	background-color: #282828;
	color: white;
	font-family: 'knockout';
	margin-top: -2px;
}

#team .container{
	position: relative;
	top: -300px;
}

#triangle{
	margin-bottom: -5px;
}

#tagline{
	background-image:url(../img/background-window.jpg);
}

#tagline h1{
	margin: 0 auto;
	font-size:20pt;
	text-align:left;
	width: 470px;
	color:#373737;
	font-weight:normal;
	position:relative;
	font-family:'GothamMedium',sans-serif,arial;
	line-height: 105%;
	top: 45%;
}

#tagline h1 strong{
	font-family:'GothamBold',sans-serif,arial;
}

#services{
	margin-top:-30px;
	background-image:url(../img/background-car-lights.jpg);
	background-position:center bottom;
	height: 1024px;
	color: rgba(255, 255, 255, 1);
}

#services .container{
	background-color: rgba(102,153,204, 0.4);
	color:#FFF;
	height:924px;
	width:100%;
}

.contentWidth{
	width:470px
}

#services h1{
	top:225px;
	color:#fff;
	padding-top:110px;
	font-size:25pt;
	text-align: center;
	position:relative;
	font-family:'HelveticaRegular',sans-serif,arial;
	font-weight:bold;
	width: 500px;
	margin: 0 auto;
}


.method{
	text-align:right;
	left:-15%;
	position:relative;
	top: 15%;
	width: 600px;
}

.method a{
	color:rgb(255,255,255);
	text-decoration:none;
}

.method a.notActive{
	color:rgba(255,255,255,0.4);
	margin-bottom:30px;
}

.method a.notActive:hover{
	color:rgba(255,255,255,1);
}

.method a:focus{
	outline:none;
}

.method h2{
	display: inline;
    font-family:'HelveticaRegular',sans-serif,arial;
    font-size: 15pt;
    width: auto;
	font-weight:bold;
}

.method p{
	color: rgba(255, 255, 255, 1);
	font-size:10pt;
	width:460px;
	font-family:'HelveticaRegular',sans-serif,arial;
	margin-bottom:30px;
}

.service{
	left: 25%;
	position: relative;
	top: 5%;
	width: 600px;
}

.service a{
	color:rgb(255,255,255);
	text-decoration:none;
}

.service a:focus{
	outline:none;
}

.service a.notActive{
	color:rgba(255,255,255,0.4);
}

.service a.notActive:hover{
	color:rgba(255,255,255,1);
}

.service h2{
	display: inline-block;
    font-family:'HelveticaRegular',sans-serif,arial;
    font-size: 15pt;
    width: auto;
	margin-bottom:30px;
	font-weight:bold;
}

.service p{
	color: rgba(255, 255, 255, 1);
	font-size:10pt;
	font-family:'HelveticaRegular',sans-serif,arial;
	width:600px;
}

.serviceTitle, .serviceTitle:focus{
    color: #FFFFFF;
    font-family: 'HelveticaRegular',sans-serif,arial;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 30%;
	color:rgb(255,255,255);
	text-decoration:none;
	font-weight:bold;
	outline:none;
}


.serviceTitle:hover, .serviceTitle:active{
	color:rgba(255,255,255,0.4);
	text-decoration:none;
}

.serviceTitleNumber{
	font-size:45pt;
	float:left;
	margin-right:20px;
}

.workContentTitle{
	border-bottom:2px solid #069;
	padding-bottom:5px;
	font-family: 'GothamBook',sans-serif,arial;
	color:#666;
}

.workContentParagraph{
	font-family: 'GothamBook',sans-serif,arial;
	font-size:10pt;
	color:#666;
	padding-bottom:20px;
	line-height:normal;
}

.workImagePreview{
	width:220px;
	height:160px;
	background-color:#CCC;
}


.offset2 {
    margin-left: 135px;
}

.workImageDetailPreview{
	background-color: rgb(204, 204, 204); 
	width: 140px; 
	height: 90px; 
	margin-bottom: 20px; 
	margin-top: 0px;
}

.workImage{
	background-color: #666; 
	width: 460px; 
	height: 250px; 
}

.workDetailContent{
	font-size:10pt;
	font-family:"Times New Roman", Times, serif;
}

.workDetailTitle{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-size: 12pt;
}

.workDetailTitleNoBorder{
	font-size: 12pt;
}

.modal-body{
    max-height:500px;
}

body .modal {
    /* new custom width */
    width: 700px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -360px;
}

.modal.fade.in {
    top: 7%;
}

#contact{
	background-image:url(../img/contact-background.jpg);
	background-size:cover;
	height:670px;
}

#contact .container{
	background-color: rgba(204,204,204,0.6);
	height:550px;
	top:5%;
	width:100%;
	position:relative;
}

input[type="text"], input[type="email"], textarea{
	border: 1px solid #bbb;
	background-color: white;
	box-shadow: 1px 1px 2px #aaa inset;
	-moz-box-shadow: 1px 1px 2px #aaa inset;    /* Firefox */
	-webkit-box-shadow: 1px 1px 2px #aaa inset; /* Safari */
}

input[type="submit"]
{
	background-color: #7eb0db;
	box-shadow:1px 1px 3px #aaa;
	-moz-box-shadow: 1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	
	border-color:#7eb0db;
	border-radius:5px;
	color:white;
	font-weight:bold;
	position:relative;
	left:165px;
}

form{
	font-family: 'GothamMedium',sans-serif,arial;
}

.contactParagraph{
	font-weight:bold;
	font-size:10pt;
}

.contactTitle{
	font-family: 'GothamMedium',sans-serif,arial;
	font-weight:bold;
	font-size:22pt;
	text-align: center;
}

.contactSubtitle{
	font-family: 'GothamMedium',sans-serif,arial;
	font-size:15pt;
	font-weight:bold;
}

