---
layout: default
title: Acklen Avenue Blog
---

<div id="blog-home">
    <div class="row">
        <div class="span8">
            {% for post in site.posts %}

            <article>
                <header>
                    <h2>
                        <a href="../blog{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <div>
                        <span>Posted on </span> <span>{{ post.date | date_to_string }}</span>
                    </div>
                </header>
                <div>
                    <p> {{  post.excerpt }}</p>
                </div>
                <footer>
                    <p> <a href="../blog{{ post.url }}">..continue reading.</a></p>
                </footer>
            </article>

            {% endfor %}

        </div>
        <div class="span3">
            <div class="recentPosts">
                {% for post in site.posts %}
                <h3>Recent Posts</h3>
                <ul>
                    <li>
                        <a href="../blog{{ post.url }}">{{ post.title }}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>

        </div>
    </div>
</div>