---
layout: default
title: Acklen Avenue Blog
---

<div id="blog-home">
    <div class="row">
        <div class="span8">
            {% for post in site.posts %}

            <article style="padding-bottom: 50px">
                <header>
                    <h2>
                        <a href="../blog{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <div>
                        <span>Posted on {{ post.date | date_to_string }} by {{ post.post_author }}</spa>
                    </div>
                </header>
                <div>
                    <p> {{  post.excerpt }}</p>
                </div>
                <footer>
                    <p> <a href="../blog{{ post.url }}">..continue reading.</a></p>
                </footer>
            </article>

            {% endfor %}

        </div>
        <div class="span3">
            <div class="recentPosts">
                <h3>Recent Posts</h3>
                {% for post in site.posts %}

                <ul>
                    <li>
                        <a href="../blog{{ post.url }}">{{ post.title }}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>

        </div>
    </div>
</div>