

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#chart {
  display: block;
  margin: -50px 0px 0px 0px;
  float: left;
  cursor: pointer;
}

.binary{
	color: #7BB1D7;
	display: none;
	padding-top: 25px;
	text-align: right;
}

.number{
	float: left;
	font-size: 100px;
	font-weight: bold;
	height: 100px;
	line-height: 80px;
	padding-top: 15px;
	text-align: center;
}

.numberTitle{
	display: table-cell;
	font-size: 50px;
	font-weight: bold;
	line-height: 80%;
	height: 100px;	
	vertical-align: middle;
}

.ntWrapper{
	height: 100px;	
	display: table;
	display: none;
}

.servicesContent{
	height: 100px;
}

#home
{
	background-image:url(../img/background-traffic.png);
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
  	-o-background-size: 100% 100%;
  	background-size: 100% 100%;
}

#home header{
	margin:0;
	background-color:7a7a7a;
}

#home h1
{
	font-size:46px;
	text-align:center;
	padding: 10px;
	color:#FFF;
}

#menu{
	margin: 0;
	text-align: center;
	
}

#menu li
{
	border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

#menu a{
	display:inline-block;
	padding:10px;
	color: #888888;
}

#menu a:active{
	
}
